
body {
  margin: 0;
  font-family: 'questrial-regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animationGif {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  color: orange;
}

h2 {
  text-align: center;
  color: orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo > img {
  width: 250px;
}

.Headerwrapper {
  display: grid;
  grid-row:1;
  grid-template-columns: 2fr 1fr;
  margin: 2rem;
}

.headerlinks {
  display: flex;
  justify-content: center;
 
  font-size: 1rem;
  font-family: monospace;
  color: orange;
}

.headerlinks > a , .logout {
  margin-left: 2rem;
  margin-top: 2rem;
  text-decoration: none;
}

.statscontainer {
  grid-row: 4
}

.activitycontainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 0 10rem;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}


.input {
  margin: 0 10rem;
}
.text-input,
.text-input:focus,
.text-input:active {
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); */
  border-color: orange;
  display: block;
  width: 98%;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 1rem;
}

.formcontainer {
  margin: 0 50re;
  width: 98%;
  align-items: center;
}

.btn {
  display: inline-block;
  background: orange;
  color: #fff;
  border: none;
 
  
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.activitybutton {
  display: inline-block;
  background: white; 
  color: orange;
  border: none;
  font-size: 20px;
}

.activitybutton:hover {
  display: inline-block;
  background: orange; 
  color: white;
  border: none;
  font-size: 20px;
}

.bodywrapper {
  display: grid;
  grid-template-rows: 0.5fr 0.8fr 1.5fr 0.8fr;
}



.activitybutton {
  margin-right: 3rem;
}

.activityheader, .statsheader {
  text-align: center;
}

.statscontainer {
  grid-row: 1
}

.statsbar > li {
  display: inline;
  margin-right: 2rem;
}

.innerstatscontainer {
  display: flex;  
  justify-content: center; 
  grid-template-rows: 1fr 1fr; 
  display: grid;

}

.petscontainer {
  margin: 0 2rem;
}

.petscontainer > table {


  width: 100%;
    border: 2px solid black;
    border-spacing: 5px;
}

th, td {
  border: 1px solid #999;
    padding: 0.5rem;
}


.petbutton > button{
  width: 60%;
    height: 20px;
    margin-left: 2rem;
} 

.bar {
  
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.mobileheaderlinks {
  display: none;
}

.greeting {
  margin-left: 2rem;
  margin-top: 2rem;
}